:root {
    --unselected_radius: 50%;
    --hover_radius: 0%;
    --selected_radius: 10%;

    --dot_background: #ccc;
    --body_background: #3f3a3a;
    --hover_background: #20B2AA;
    --hover_outline: red;
}
/*
How border radius works
https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius 
*/

*
{
    margin:0;
    padding:0;
}


.wrapper
{
    margin-left:20%; 
    margin-top:2em;
    display:block;
}

ul
{
    list-style:none;
    display:inline-block;
}

.dot,
ul li
{
    width:2em;
    height:2em;
    margin:5px;
}

.dot
{
    background: var(--dot_background);
    border-radius: var(--unselected_radius);
    cursor:pointer;
    /* -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease; 
    -o-transition:all 0.5s ease; 
    transition:all 0.5s ease; */
    /* TODO, ditch transistion time? */
}

.dot:hover
{
    background: var(--hover_background);
    border-radius: var(--hover_radius);
    outline-style: solid;
    outline-color: var(--hover_outline);
}

body
{
    background: var(--body_background);
    animation:bgfade 5s;
    -webkit-animation:bgfade 5s; /* Safari and Chrome */
}

@keyframes bgfade
{
    0%   {opacity:0;}
    25%  {opacity:0.25;}
    50%  {opacity:0.5;}
    75%  {opacity:0.75;}
    100% {opacity:1;}
}

@-webkit-keyframes bgfade /* Safari and Chrome */
{
    0%   {opacity:0;}
    25%  {opacity:0.25;}
    50%  {opacity:0.5;}
    75%  {opacity:0.75;}
    100% {opacity:1;}
}